.membership__wrap {
    margin: 80px 0 100px;
}

.member__level__container {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    width: 830px;
    display: grid;
    gap: 10px;
    place-items: center;
    grid-template-columns: 110px 110px 110px 110px 110px 110px 110px
}

.member__level__container p {
    font-size: 11px;
    color: #fff;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.level__info__wrap {
    width: 830px;
    margin: 0 auto;
    color: #343434;
}

.level__box {
    height: 108px;
    width: 100%;
}

.level__title {
    padding-top: 20px;
}

.level__info {
    padding-top: 10px;
}

.member__level__item {
    width: 100%
}

.level__box.one {
    background-color: #c8c8c8;
}

.level__box.two {
    background-color: #a1a1a1;
}

.level__box.three {
    background-color: #7a7a7a;
}

.level__box.four {
    background-color: #585858;
}

.level__box.five {
    background-color: #373737;
}

.level__box.six {
    background-color: #000;
}

.level__box.seven {
    background-color: #000;
}

.level__info__wrap {
    margin-top: 20px;
}

.level__info__container {
    width: 100%;
    display: grid;
    grid-template-columns: 23% 77%;
    padding-top: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.level__info__item .title {
    font-size: 13px;
    margin: 0;
}

.level__info__item .contents p {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    text-indent: -6px;
    margin-bottom: 10px;
    word-break: keep-all;
}

.non__border {
    border: none;
}

.underline {
    text-decoration: underline;
}

.membership__sub__info {
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .member__level__item br {
        display: none !important;
    }

    .member__level__container {
        text-align: center;
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-row-gap: 4px;
        margin-bottom: 0px;
    }

    .member__level__item {
        width: 100%;
        height: 31px
    }

    .level__info__wrap {
        width: 100%;
        margin-top: 0;
    }

    .membership__wrap {
        margin: 20px 0 60px;
        margin-top: 40px;
        width: 580px;
    }
    .membership__wrap .mobile__view {
        margin: 0;
    }
    .level__box {
        width: 100%;
        height: 31px;
        display: flex;
    }

    .level__title {
        padding-top: 10px;
        margin-right: auto;
        margin-left: 10px;
    }

    .level__info {
        padding-top: 8px;
        margin-left: auto;
        margin-right: 10px;
    }

    .level__info__container {
        width: 100%;
        display: block;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .level__info__item {
        margin: 20px 0;
    }

    .level__info__item .title {
        height: 19px;
    }
    .level__info__item .title p {
        font-size: 13px;
    }
}

@media (min-width: 1024px) {

    .level__info__container {
        padding-top: 30px;
        padding-bottom: 10px
    }
}